*.Rmd
*.RData
*.rdb
*.rdx
STAT_L2_Modelling_cache/html/__globals
STAT_L2_Modelling_cache/*
STAT_L1_Refresher_cache/*

STAT_L1_Refresher_cache/*
STAT_L1_Refresher_cache/html/__globals
STAT_L1_Refresher_cache/*
STAT_L3_Assumptions_cache/*
STAT_L4_MLE_cache/*
STAT_L1_Refresher_cache/*
STAT_L1_Refresher_cache/html/*
STAT_L6_Multinomial_cache/html/*
STAT_L1_Refresher_cache/html/*
